exportPattern("^[[:alpha:]]+")
import(mgcv)
import(pROC)
import(risksetROC)
import(survival)
import(snowfall)
importFrom("stats", "cor", "dbinom", "optim")
importFrom("utils", "capture.output")



